.card span {
  align-self: center;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 60%;
  border-bottom: 2px solid #9488a6;
}

.card .button i {
  margin-right: 10px;
}

#addBusCoopBtn {
  height: fit-content;
  width: fit-content;
  outline: none;
  font-size: 17px;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
  background: #9488a6;
  cursor: pointer;
}

#addBusCoopBtn:hover {
  background-color: #0056b3;
}

.bus-coop-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.bus-coop-card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px;
}

.bus-coop-card img {
  max-height: 100px;
  flex: 1;
}

.bus-coop-card div {
  display: flex;
  flex: 2;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-align: center;
  /* Center text horizontally */
}